<div class="message-form-container">
    <a href="/message/myMessage">Voltar</a>
    <h1>Criando minha mensagem:</h1>
    <form action="/message/add" method="POST">
        <div class="form-control">
            <label for="title">Mensagem:</label>
            <input type="text" name="title" placeholder="Digite sua mensagem...">
        </div>
        <input type="submit" value="Criar mensagem">
    </form>
</div>